.igroup {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	input[type="text"] {
		font-size: 1.5em;
	}
}
.warning {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #FFBD6F;
}
